html {
  font-size: 10px;
  margin: 0;
}

body {
  margin: 0 auto;
  color: black;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}

#wrapper {
    display: flex;
}

img#sunflowers {
    height: 100vh;
}

#form-wrapper {
    display:flex;
}

#form {
    width: 100%;
    padding-left: 10%;
    background-color: rgb(219, 231, 172);
    align-content: center;
    justify-content: center;
}

input {
    margin: 0 10px 10px 0;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

label {
    font-size: 1.4rem;
}

button {
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 10px;
    color: white;
    background-color: green;
}

a {
    text-decoration: none;
    color: rgb(120, 2, 255)
}

p {
    font-size: 1.5rem;
}


.odin-div {
    display: flex;
    position: absolute;
    width: 100%;
    top: 15%;
    background-color: black;
    opacity: 0.5;
    justify-content: center;
    align-content: center;
    padding: 5px 0;
}

#image {
    position: relative;
}

span {
    display: block;
    color: white;
    font-size: 50px;
    padding-top: 20px;
    font-family: 'Caveat', sans-serif;
}

.photo-by {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    justify-content: center;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid blue;

}

input {
    box-shadow: 2px 2px 2px black;
}
